<li>
  <div class="card text-left">
    <div class="card-body">
      <div class="card-header">
        <%= comment.body %>
        <small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small>
        <%= link_to  "Delete", [comment.commentable, comment], method: :delete %>
      </div>
    </div>
  </div>
  

  <div class="card card-body mt-2">
  <%= form_for [comment, Comment.new] do |f| %>
    <%= f.text_area :body, class: 'form-control', placeholder: "Add a Reply" %><br/>
    <%= f.submit "Reply", class: 'btn btn-sm btn-primary'  %>
  <% end %>
  </div>

  <ul>
      <%= render comment.comments %>
  </ul>

</li>