<div class="container">
  <div class="row d-flex justify-content-center mt-5 pt-5">
    <div class="col-md-8">

<h1>New Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Back', posts_path %>

    </div>
  </div>  
</div>