<div class="container">
  <div class="row d-flex justify-content-center mt-5 pt-5">
    <div class="col-md-8">
      <div class="card card-body">
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Title:</strong>
          <%= @post.title %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @post.description %>
        </p>

        <p>
          <strong>User:</strong>
          <%= @post.user_id %>
        </p>

        <%= link_to 'Edit', edit_post_path(@post) %> |
        <%= link_to 'Back', posts_path %>
      </div>
    </div>
  </div>



  <div class="row d-flex justify-content-center mt-5 pt-5">
    <div class="col-md-8">
      <div class="card card-body bg-success mb-5">
        <h3>Add your comment</h3>
        <%= form_for [@post, Comment.new] do |f| %>
          <%= f.text_area :body, class: 'form-control', placeholder: "Add a comment" %><br/>
          <%= f.submit "Add Comment", class: 'btn btn-sm btn-primary' %>
        <% end %>

        <hr>
        <h3>All Comments</h3>
        <ul class="nested-comments">
          <%= render @post.comments %>
        </ul>
      </div>
    </div>
  </div>
</div>